{% extends 'base_forgot_pass.html' %}
{% load static  %}

{% block content %}
    <div class="card card-primary">
        <div class="card-header"><h4>Resetar Senha</h4></div>

        <div class="card-body">
            <p class="text-muted">Enviaremos um link para redefinir sua senha</p>
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="form-group">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                        <div class="col-sm-12 col-md-7">
                            <div class="form-group">
                                <input id="button_send_email" class="btn btn-primary btn-lg btn-block" type="submit" value="Enviar Email">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}