{% extends 'base_forgot_pass.html' %}
{% load static  %}

{% block content %}
    <div class="card card-primary">
        <div class="card-header"><h4>Resetar Senha</h4></div>

        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong>{{ field.name|title }} {{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}

        <div class="card-body">
        <p class="text-muted">Tudo pronto! Agora crie uma nova senha</p>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label>Nova Senha</label>
                <input class="form-control"
                    id="new_password1" name="new_password1"
                    type="password"
                    autocomplete="off" required>
            </div>

            <div class="form-group">
                <label>Confirmar a Senha</label>
                <input class="form-control"
                    id="new_password2" name="new_password2"
                    type="password"
                    autocomplete="off" required>
            </div>

            <div class="form-group">
            <button id="button_send_email2" type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                Resetar Senha
            </button>
            </div>
        </form>
        </div>
    </div>

{% endblock %}